{% extends 'base.html.twig' %}

{% block title %}Hello StartController!{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            aasa
        </div>
    </div>
</div>
{% endblock %}
