section#top{
    /*overflow: hidden;*/
}
#top .slider{
    width: 100%;
}

#top .slider .prev, #top .slider .next{
    position: absolute;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 1;
    cursor: pointer;
    background: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    z-index: 999;
    font-size: 50px;
    color: white;
}

#top .slider .prev{
    left: 25px;
}
#top .slider .next{
    right: 25px;
}

#top .slider .brz-icon-svg {
    display: block;
    font-size: 30px;
    cursor: pointer;
    width: 1em;
    height: 1em;
    stroke: none;
    max-width: none;
    fill: white;
    color: white;
    position: absolute;
    top: 50%;
}

#top .slider .brz-icon-svg.prev {
    -webkit-transform: translateY(-50%) rotate(-180deg);
    transform: translateY(-50%) rotate(-180deg);
}

#top .slide-item{
    height: 819px;
    overflow: hidden;
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.slide-item.bg-1{
    background-image: url("https://brizy.b-cdn.net/media/iW=5000&iH=any/296157b7aa7ade666c94ef67380df631.jpg");
}

.slide-item.bg-2{
    background-image: url("https://brizy.b-cdn.net/media/iW=5000&iH=any/76ef8fcc433445f38b8070927edfb0ee.jpg");
}

.slide-item.bg-3{
    background-image: url("https://brizy.b-cdn.net/media/iW=5000&iH=any/1d99a0fc5c7ac13d2440e56fe2851872.jpg");
}


#section-1{
    background-image: url('https://brizy.b-cdn.net/media/iW=5000&iH=any/8266fea1722815cba513c9de797e31cf.jpg');
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: cover;
    /*min-height: 600px;*/
}


#section-1 ul {
    list-style: none;
    counter-reset: section;
    padding-left: 60px;
}
#section-1 ul li{
    position: relative;
}
#section-1 ul li:before{
    border: 2px solid rgb(211, 77, 94);
    font-size: 15px;
    line-height: 41px;
    font-weight: 700;
    text-align-last: auto;
    text-orientation: mixed;
    counter-increment: section;
    content: counter(section);
    border-radius: 100%;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    position: absolute;
    left: -80px;
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 0;
    top: 5px;
    color: rgb(211, 77, 94);;
}

#section-2{
    background-image: url('https://brizy.b-cdn.net/media/iW=5000&iH=any/e3aa8c76bfe7ffd096a5d1e47c773569.jpg');
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: cover;
    /*min-height: 600px;*/
    background-color:rgba(6, 77, 82, 0.14);
}

#section-3{
    min-height: 600px;
    background-color: white;
}

.text-red{
    color: #d34d5e;
}
.text-turquoise{
    color: #00c8d6;
}

.w-desc{
    font-size:18px;
    font-kerning:auto;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    line-height:34.2px;
}
#main{
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing:antialiased;
}
h3{
    font-size: 16px;
    font-stretch:100%;
    font-weight:700;
}

h2{
    font-family:Montserrat, sans-serif;
    font-feature-settings:normal;
    font-kerning:auto;
    font-size:40px;
    font-stretch:100%;
    font-style:normal;
    font-variant-caps:normal;
    font-variant-east-asian:normal;
    font-variant-ligatures:normal;
    font-variant-numeric:normal;
    font-weight:300;
    -webkit-font-smoothing:antialiased;
    line-height:60px;
}

h1{
    font-size:36px;
    font-stretch:100%;
    font-weight:700;
    font-feature-settings:normal;
}

.btn-outline-info > span{
    font-size:14px;
    font-stretch:100%;
    font-weight:700;
    line-height:25.2px;
    padding: 5px 20px;
    display: inline-block;
}

ul h4{
    display:inline-block;
    line-break:auto;
    line-height: 39px;
    text-decoration-line:none;
    text-underline-position:auto;
    font-weight:400;
    font-size:23px;
    font-stretch:100%;
    margin-top:10px;
    margin-bottom:10px;
}

#main small{
    display:inline;
    line-break:auto;
    line-height:31.5px;
    text-decoration-line:none;
    text-underline-position:auto;
    font-size:15px;
    font-weight:400;
}


#main #recommendations{
    padding: 40px 0;
}
#main #recommendations h4{
    margin-top: 20px;
}
#main #recommendations ul{
    margin-top: 10px;
    list-style: none;
    padding: 0;
}

#main #recommendations ul li{
    line-height:16.8px;
    padding-top:9px;
    padding-bottom:8px;
}
#main #recommendations ul a{
    font-feature-settings:normal;
    font-kerning:auto;
    font-size:14px;
    font-stretch:100%;
    font-style:normal;
    font-variant-caps:normal;
    font-variant-east-asian:normal;
    font-variant-ligatures:normal;
    font-variant-numeric:normal;
    font-weight:700;
    -webkit-font-smoothing:antialiased;
    color: rgb(0, 200, 214);;
}
#main #recommendations ul a:hover{
    color: rgb(211, 77, 94);
}
#main #recommendations picture{
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
    width: 193px;
    height: 193px;
}
#main #recommendations h4{
    margin: 20px 0;
}

#main #recommendations button{
    margin-top: 30px;
}

#main #recommendations button > span{
    padding: 10px 42px;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
}
#main button{
    border-width: 2px;
}
footer{
    background-color:rgb(223, 228, 230);
    height:224px;
    padding: 30px 0;
}

footer ul#soc-buttons{
    margin: 20px 0;
}
footer ul#soc-buttons li{
    margin: 0 15px;
}

footer ul#soc-buttons li > a{
    height:54px;
    width:54px;
    line-height: 50px;
    background-color:rgb(255, 255, 255);
    color:rgb(223, 228, 230);
    border-color: rgba(35, 157, 219, 0);
    background-color: rgba(255, 255, 255, 1);
    background-image: none;
    border-width: 0;
    border-style: solid;
    font-size: 32px;
    border-radius: 30px;
    display: inline-block;
}
footer ul#soc-buttons li > a > svg{
    width: 1em;
    height: 1em;
}

footer ul#soc-buttons li > a:hover{
    color: rgba(211, 77, 94, 1);
    stroke-width: 0;
    transition: all 0.50s ease-in-out;
    transition-property: background, border-radius, color, border-color, box-shadow;
    -webkit-transition: all 0.50s ease-in-out;
    -moz-transition: all 0.50s ease-in-out;
    -webkit-transition-property: background, border-radius, color, border-color, box-shadow;
    -moz-transition-property: background, border-radius, color, border-color, box-shadow;
}